node_modules
bin*
vendor*
Makefile
*.make

scene.json
test.json*

# Editors
*.sln
*.vcxproj
*.vcxproj.user
.vs
.idea

# Model files
*obj
*.fbx
*.mtl
*.stl

*.egg-info
dist

# 2D files
*.aseprite
*.psd
*.png
*.jpg
*.jpeg
*.gif
*.ase

site
